@import 'src/styles/vars';

.select {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding: 6px 12px;
  appearance: none;
  outline: none;
  border-radius: 4px;
  border: none;
  transition: 0.2s;

  background-repeat: no-repeat;
  background-position: center right 8px;
  background-image: url('../../../assets/icons/menu.svg');
  background-color: $primary;
  background-size: auto 60%;

  &:hover {
    box-shadow: $material-shadow-large;
  }
}

select:focus > option:checked, option:not(:checked) {
  background-color: $primary-light;
}