@import 'src/styles/vars';

.vx-select {
  display: block;
  font-size: 18px;
  color: white;
  background-color: $main;
  padding: 6px 12px;
  outline: $main;
  border-radius: 4px;
  border: none;
  transition: 0.2s;
  position: relative;

  &:hover {
    box-shadow: $material-shadow-small;
  }
}

select:focus > option:checked, option:not(:checked) {
  background-color: $main-light;
}