@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.menu {
  display: flex;

  .button-menu {
    width: 30px;
    z-index: 3;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: $primary;

    .icon-menu {
      transition: 0.2s;
    }

    &:hover {
      .icon-menu {
        fill: $accent;
      }
    }

    @include screen('max', $M) {
      width: 20px;
    }
  }

  .menu-body {
    position: absolute;
    z-index: 2;
    top: -10px;
    padding: 10px;
    right: 0;
    transition: 0.3s;
    background-color: $primary;

    border: 2px solid $primary-dark;
    border-top: none;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    transform: translateY(-100%);
  }

  .menu-nav {
    padding-right: 65px;
    color: $text-on-primary;

    .nav-list {
      list-style: none;
    }

    .nav-link {
      color: $text-on-primary;
      text-decoration: none;

      &:hover{
        color: $text-on-primary-dark;
      }
    }
  }

  .menu-body-open {
    top: -10px;
    transform: translateY(0);
  }
}

.menu-nav {
  .nav-link {

  }
}