@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.menu{
  display: flex;

  .button-menu {
    width: 30px;
    z-index: 3;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: $primary;

    .icon-menu {
      transition: 0.2s;
    }

    &:hover {
      .icon-menu {
        fill: $accent;
      }
    }

    @include screen('max', $M) {
      width: 20px;
    }
  }

  .menu-body {
    position: absolute;
    top:-10px;
    z-index: 2;
    transition: 0.3s;
    background-color: $primary-dark;
    right: 0;
    transform: translateY(-100%);
    padding:10px 90px 10px 10px;
  }

  .menu-body-open{
    top:-10px;
    transform: translateY(0);
  }
}