@import "src/styles/vars";

.bubbling-overlay {
  z-index: -1;
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 3s;

  .bubble {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 150%);
    transition: 1s;
    background-color: $main;

    &.bubbling {
      transform: translate(-50%, -150%);
    }
  }
}