//Color schema
$primary: #4CAF50;
$secondary: whitesmoke;

$accent: #ffab00;

$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);

$text-on-primary: whitesmoke;
$text-on-primary-dark: darken($text-on-primary, 10%);
$text-on-primary-light: lighten($text-on-primary, 10%);

$text-on-secondary: $primary;
$text-on-secondary-dark: darken($text-on-secondary, 10%);
$text-on-secondary-light: lighten($text-on-secondary, 10%);

//Media breakpoints
$S: 480px;
$M: 767px;
$L: 992px;
$xl: 1280px;

//Utility
$material-shadow-small: 0 3px 5px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
$material-shadow-large: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);