@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.card {
  display: flex;
  flex-direction: column;
  margin: 12px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: $material-shadow-large;

  @include screen('max', $M) {
    margin: 9px;
    border-radius: 9px;
  }

  @include screen('max', $S) {
    margin: 6px;
    border-radius: 6px;
  }

  &-head {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-label{
    max-width: 80%;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    position: absolute;
    background-color: $main-light;
    color: $text-secondary;

    &__name {
      border-top-left-radius: 12px;
      border-bottom-right-radius: 8px;
    }

    &__price {
      bottom: 0;
      right:0;
      border-top-left-radius: 8px;
    }

    @include screen('max', $M) {
      font-size: 16px;
      padding: 4px;
    }

    @include screen('max', $S) {
      font-size: 14px;
      padding: 3px;
    }
  }

  &-description{
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      margin: 2px 0;
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;

      background: $main-light;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $main-dark;
    }

    font-size: 14px;
    line-height: 1.15;
    height: 60px;
    overflow-y:auto;
    margin: 6px;
    padding: 0 6px;
    text-align: justify;

    @include screen('max', $M) {
      font-size: 12px;
      height: 40px;
      margin: 4px;
      padding:0 4px;
    }

    @include screen('max', $S) {
      font-size: 10px;
      height: 30px;
      margin: 3px;
      padding:0 3px;
    }
  }

  &-image {
    max-height: 280px;
    object-fit: cover;

    @include screen('max', $M) {
      max-height: 200px;
    }

    @include screen('max', $S) {
      max-height: 150px;
    }
  }
}