@import "src/styles/vars";
@import "src/styles/mixins/media";

.gallery {
  .controls {
    display: flex;
    justify-content: space-between;
  }
}

.cards-list {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  @include screen('max', $M) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @include screen('max', $S) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}