@import "src/styles/vars";
@import "src/styles/mixins/media";

.gallery {
  .controls {
    margin: 10px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    & > * {
      flex: 1 1 auto;
    }
  }
}

.cards-list {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  @include screen('max', $M) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @include screen('max', $S) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}