@import 'src/styles/vars';

.link {
  transition: 0.25s;
  color: $primary;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $primary-dark;
  }

  &-block {
    color: #FFF;
    background-color: $primary;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px 6px;

    &:hover {
      color: #000;
    }
  }
}

.active-link{
  color:$accent;
}