@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.header {
  background-color: $primary;
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: $text-on-primary;
  border-bottom: 2px solid $primary-dark;

  .container {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
  }

  &-company-name {
    font-size: 28px;
    font-weight: bold;

    @include screen('max', $M) {
      font-size: 20px;
    }
  }

  &-link {
    color: inherit;
    text-decoration: none;

    &:hover{
      color: $text-on-primary-dark;
    }
  }
}