@import 'src/styles/vars';

.sort {
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  background-color: $primary;
  transition: 0.2s;
  overflow: hidden;

  &-label {
    display: block;
    padding: 6px 12px;
  }

  .button-sort {
    width: 36px;
    padding: 0 8px;
    border: 0;
    color: white;
    background-color: $primary;
    outline: none;
    fill: $text-on-primary;

    &:focus {
      fill: $primary-dark;
    }
  }

  .button-ascending {
    transform: rotate(90deg);
  }

  .button-descending {
    transform: rotate(-90deg);
  }
}