@import 'src/styles/vars';

.sort {
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  background-color: $main;
  transition: 0.2s;

  &-label{
    display: block;
    padding: 6px 12px;
  }

  .button-sort {
    width: 36px;
    padding: 0 8px;
    border: 0;
    color: white;
    background-color: $main;
    outline-color: $main;
  }

  .button-ascending {
    transform: rotate(180deg);
  }
}